:root {
  /* Paleta de cores */
  --color-white: #ffffff;
  --color-off-white: #FBFBFB;
  --color-dark-gray: #2F2F2F;
  --color-black: #212121;
  --color-green: #6CBC6F;
  --color-red: #FF4949;

  /* Famílias de fontes */
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Lato', sans-serif;
}


body {
  color: var(--color-white);
  background-color: var(--color-black);
  font-family: var(--font-primary);
}

